<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
  </head>
  <body ng-controller="applicantController">
	  
    <div class="container">
      <h1>Applicants</h1>
      <ul id="applications" class="list-unstyled">
        <li ng-repeat='applicant in applicantsList'>
          <h1> <a ng-href='/profile/{{applicant._id}}'> Name: {{applicant.name}}</a></h1>
          <h3>ID: {{applicant._id}}</h3>
          <h3>Bio: {{applicant.bio}}</h3>
          <h3>Skills: {{applicant.skills}}</h3>
          <h3>years {{applicant.years}}</h3>
          <h3>why: {{applicant.why}}</h3>
          <input type='button' ng-click='deleteApplicant(applicant._id)'>
        </li>
      </ul>
    </div>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>