.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.inputdemoBasicUsage md-datepicker {
  margin-top: 18px; }
.inputdemoBasicUsage .md-datepicker-button {
  height: 36px;
  width: 36px;
  line-height: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
  margin-left: 2px; }

.languageOptionsTextColor {
  	color :white;
}